# Ignore virtual environment
venv/

# Ignore data folder
individual_stocks_5yr/

# Bytecode and cache
__pycache__/
*.py[cod]

# Logs and system files
*.log
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/
